.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}
